.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
  overflow: hidden;
  background-color: #0f4d92;
  font-family: Arial;
}

body {
    margin-bottom: 50px;
}

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  background-color: #0f4d92;
  margin: 0;
}

nav a:hover, .dropdown:hover .dropbtn {
  background-color: #0f4d92;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
    text-align: center;
    color: #0f4d92;
    padding-top: 50px;
}

main a:visited, footer a:visited {
    color: cornflowerblue
}

main a:hover, footer a:hover {
    text-decoration: none;
}
        
main a:active, footer a:active {
    text-decoration: underline;
}

main a, footer a {
    color: #0f4d92;
}

main p, main h3, main h2 {
    color: #0f4d92;
}